@import url(http://fonts.googleapis.com/css?family=Roboto:100, 300);

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /*  color: #C1343F; */
  /* color: #fff; */
  /* text-decoration: underline; */
}

p {
  font-family: inherit;
  font-weight: 100;
}


li {
  font-family: inherit;
  font-weight: 100;
}


a {
/*  color: #DD4F53;*/
  color: #5C7505;
}

/**  Header Navigation **/

header {
  font-size: 2rem;
      
    margin: 0 auto;
    max-width: 1764px;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;   
}

header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: url(../images/misc/banner.png) no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  width: 100%;
  margin: 0px 0 10px;
  pointer-events: none;
}

.logo img {
  height: auto;
  vertical-align: top;
  max-width: 100%;
}

/**  Navbar **/

header .navbar {
  /** background: #CF5565;  **/
  background: #9eba3b;
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-inverse {
  border: 0;
}


header .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

header .navbar-inverse .navbar-brand {
  color: white;
}

header .navbar-inverse .navbar-nav>li>a {
  color: white;
} 

.maincontent {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
}

.sidebar .sidebar-title {
  font-size: 1.5em;
}

.sidebar .sidebar-body li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    line-height: 160%;
  }
  .sidebar .sidebar-title {
    font-size: 2em;
  }
}

/**  / Navbar **/


/** Main **/

.row.main {
    background-color: #c3dd68;
    margin-left: -0px;
    margin-right: 0px;
}    

/** / Main **/

/**  Meal table **/

.meal-table-title h2 {
    font-size: 2vw;
}

.meal-table-content h2 {
    font-size: 2vw;
    color: white;
    text-decoration: underline;
}

.meal-table-content h3 {
    height: 70px;
    font-size: 1.5vw;
}

.meal-table-content p {
    
}

.hide {
    display: none;
}


.col-sm-2.meal-table-content {
    background-color: #c3dd68;
    border-radius: 30px 30px 0 0;
    margin: 5px;
}

.col-sm-2.meal-table-content:nth-child(odd) {
    background-color: #9db93b;
    border-radius: 30px 30px 0 0;
    margin: 5px;
}

.meal-table-content h2 {
    font-size: 2vw;
    color: white;
    text-decoration: underline;
    text-align: center;
}

.meal-table-content img.img-responsive {
    border-radius: 2px;
}

/** / Meal table **/

.speakerslist {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

#speakerList .speakerslist-img {
  margin-right: 20px;
}

.speakerslist-title {
  font-size: 1.7em;
}

#home .speakerslist-title {
  font-size: 1.5em;
}

#speakerDetail .speakerslist-title {
  font-size: 2.4em;
}

#speakerDetail .speakerslist-img {
  margin: 20px 0;
}

.form-control {
  font-weight: 100;
  font-size: 1.7rem;
}

.chat-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.jumbotron {
  padding: 20px 0;
  background-color: #FFEB8B;
}

/**  chat-display **/

.chat-display {
  min-height: 150px;
  max-height: 40vh;
  overflow: scroll;
  font-size: 1.2em;
}

.chat-display p {
  font-size: .9em;
  padding: 0 10px;
}

//** feedback **//

.feedback, .feedback-form-title {
  font-size: 2rem;
}

.feedback-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}


.feedback-title {
  font-size: 1.2em;
}

.feedback-form-title {
  font-size: 1.5em;
}

.feedback-name {
  font-size: 1em;
  font-weight: 200;
}

.feedback-message {
  font-weight: 200;
  font-size: 1em;
  line-height: 120%;
  margin-top: 5px;
}

.feedback-item {
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.feedback-item:last-of-type {
  border-bottom: none;
}

.feedback-name.label.label-info {
    padding: 2px;
    margin-left: 10px;
}

//**  / feedback **//


/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 10px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}

