<!DOCTYPE html>
<html>
  <head><% include ./partials/template/head %></head> <!-- TODO: to be fixed once the subfolder issue is solved -->
  <body id="<%= pageID %>"> <!-- pageID passed by index.js route -->

    <% include ./partials/template/header %> <!-- includes header.ejs partials in views -->
    

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="feedback-form-title">Please provide some feedback</h3>
                <form class="feedback-form">
                    <div class="form-group">
                        <label for="feedback-form-rating">Rating (1 bad, 5 good) </label>
                        <select class="form-control" id="feedback-form-rating">
                          <option disabled selected value> -- select an option -- </option>
                          <option>5</option>
                          <option>4</option>
                          <option>3</option>
                          <option>2</option>
                          <option>1</option>
                        </select>    
                    </div>                    
                    <div class="form-group">
                        <label for="feedback-form-name">Name</label>
                        <input type="text" class="form-control" id="feedback-form-name" placeholder="Enter your name">
                    </div>                    
                    <div class="form-group">
                        <label for="feedback-form-email">eMail</label>
                        <input type="text" class="form-control" id="feedback-form-email" placeholder="Enter your email address">
                    </div>
                    <div class="form-group">
                        <label for="feedback-form-message">Message</label>
                        <textarea type="text" class="form-control" id="feedback-form-message" placeholder="Enter your message and click Submit" rows="6"></textarea>
                    </div>     
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                </form>
            </div>
            <aside class="col-sm-6">
                <div class="mainconent feedback">
                    <h3 class="article-title">Recent feedback</h3>
                    <div class="feedback-messages"></div>
                </div>
            </aside>            
        </div>  
    </div>  

    <% include ./partials/template/jsdefaults %> <!-- includes jsdefaults.ejs partials from ./views -->
  </body>
</html>
