<!DOCTYPE html>
<html>
  <head>
    <title>Michae Park lunch bar</title>
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">  
    <link rel="stylesheet" href="./css/bootstrap_v336/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/bootstrap-custom.css" crossorigin="anonymous">

    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <header>
<!--
      <div class="jumbotron hidden-xs">
      </div> jumbotron 
-->
      <div class="logo align-center">
        <a href="http://gohanyasan.appspot.com" title=""><img src="./images/misc/banner.png" alt="logo"></a>
      </div>

      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a href="/" class="navbar-brand">Lunch bar</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/speakers" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Speakers <span class="caret"><span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/speakers">All Speakers</a></li>
                    <li role="separator" class="divider"></li>
                  </ul>
              </li>
            </ul><!-- nav -->
          </div><!-- navbar-collapse -->
        </div><!-- container -->
      </nav>
    </header>

    <div class="container">
      <div class="row"> 
        <div class="col-sm-8">
          <div class="maincontent">

            <article class="article">
              <h1 class="article-title">Who are we?</h1>
                <p>Dear Parents, Teachers and Students</p>
                <p>Thank you for supporting the school lunch bar term 3! We hope you have enjoyed our foods.
                Below is our new 2016 term 4 menu.</p>
                <p>Lunch is a wholesome organic meal prepared daily at school. Vegan and gluten free options are available every day.</p>
                <p>Prices start at $4 a meal when ordering early in the term for the whole term: see conditions below.</p>
                <p>We are open 4 days a week, Monday to Thursday, and also provide tasty and healthy food, snacks and beverages all through the day. Organic drinks such as Hampstead Demeter certified teas are available to parents and staff, from $2 - $4 any time. Meals can also be ordered regularly or casually as takeaway dinners for those who want to have a break from cooking. Our suppliers include Ceres organics, Ooooby, and the Ellerslie Organic Butchery. We are very pleased to share with you that, for the first time, our menu will be using biodynamic spelt and wheat flour from Milmore Downs, the Demeter and BioGro certified farm rests in the Scargill valley, one and a quarter hours north of Christchurch. Visit them on <a href="www.milmoredowns.co.nz">www.milmoredowns.co.nz</a></p>
                <p>We invite you to pre-order for Term 4 now here! to take advantage of early bird prices and helps us run things smoothly.</p>
                <p>We endeavour to keep our prices down and offer value for money, and to minimise food wastage through planning, composting and recycling.</p>
                </br>
                <p>See you at the Lunch bar</p>
                </br>
                <p>Michael Park School lunch bar team</p>              
            </article><!-- article -->

            <article class="article">
              <h1 class="article-title">Get Busy!</h1>
              <p>If you want to keep up with what's going on with the group, <a href="http://www.meetup.com/rouxmeet">join our meetup group</a>, <a href="http://www.twitter.com/rouxmeet">follow us on twitter</a>. If you're in FaceBook, you can also <a href="http://www.facebook.com/rouxmeet">join our FaceBook group</a>.</p>
            </article><!-- article -->

            <article class="article">
              <h1 class="article-title">Who should come?</h1>
              <ul>
                <li>Anybody interested in art and the creative industry</li>
                <li>Painters, sculptors, photographers and graphic artists</li>
                <li>Those interested in meeting and making a connection with others in the local art scene.</li>
              </ul>
            </article><!-- article -->

          </div>
        </div><!-- primary -->
        <aside class="col-sm-4">
          <article class="sidebar">
            <h1 class="sidebar-title">Who should come?</h1>
            <ul class="sidebar-body">
              <li>Anybody interested in art and the creative industry</li>
              <li>Painters, sculptors, photographers and graphic artists</li>
              <li>Those interested in meeting and making a connection with others in the local art scene.</li>
            </ul>
          </article><!-- article -->
        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="/js/pixgrid.js"></script>
    <script src="/reload/reload.js"></script>
  </body>
</html>
