<!DOCTYPE html>
<html>
  <head><% include ./partials/template/head %></head> <!-- TODO: to be fixed once the subfolder issue is solved -->
  <body id="<%= pageID %>"> <!-- pageID passed by index.js route -->

    <% include ./partials/template/header %> <!-- includes header.ejs partials from ./views -->
    
    <div class="container">
      <div class="row"> 
        <div class="col-sm-8">
            <%- include ./mainContent %>
        </div><!-- primary -->

        <aside class="col-sm-4">
            <%- include ./openingHours %>
        </aside><!-- secondary -->
      
      </div>
    </div><!-- container --> 

    <% include ./currentTermMeals %>

    <% include ./partials/template/jsdefaults %> <!-- includes jsdefaults.ejs partials from ./views -->
  </body>
</html>
