<!--
 
-->


<div class="container">
    <h2>Cafe menu</h2>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% for(item in priceBook.priceBook.bar){ %>
                <tr>
                    <td>
                        <%= item %>
                    </td>
                    <td>
                        <%= priceBook.priceBook.bar[item] %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

</div>